body {
  margin: 8px 12px;
  background: #222;
  color: #eee;
  accent-color: #999;
}

:root {
  font-size: clamp(14px, 1.2vw, 16px);
}

header {
  background: linear-gradient(to left, #111, #1a1a1a);
  color: #ccc;
  border-radius: 8px;
  padding: .5em 1em;
  font-size: clamp(1.4rem, 2vw + 1rem, 1.6rem);
  text-align: center;
  user-select: none;
}

main {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem 0 1rem 0;
}

#submit-btn {
  width: 50px;
  height: 50px;
  padding: 0.1em;
  font-size: 1.2rem;
}

#submit-btn:hover {
  cursor: pointer;
}

#task-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  gap: 10px;
}

#task-input {
  box-sizing: border-box;
  width: 90%;
  max-width: 500px;
  height: 30px;
  font-size: clamp(1rem, .4vw + 1rem, 1rem);
  padding: 1.7rem 1rem;
}

@media (max-width: 350px) {
  #submit-section {
    flex-direction: column;
  }

  #task-input, #submit-btn {
    width: 100%;
    max-width: none;
  }
}

input {
  font-family: monospace;
  outline: none;
  border-radius: 8px;
  border: #444 solid 1px;
  background: none;
  color: #ccc;
}

input:hover {
  background: #1f1f1f;
}

input:focus {
  background: #1f1f1f;
  border-color: #666;
}

.delete-task>img {
  width: 20px;
  filter: invert();
}

.delete-task>img:active {
  filter: invert(80%);
}

::selection {
  color: #111;
  background: #999;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-node {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: min(1.2em, 6%);
  font-size: 1rem;
  background: #333;
  border-radius: 8px;
}

.checkbox-node {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

.checkbox-node:hover {
  background: #222;
}

.checkbox-node:not(:checked) {
  appearance: none;
  background: none;
  border: 1px solid #999;
  border-radius: 2px;
}

.completed {
  text-decoration: line-through;
  color: #999;
  transition: color 0.3s;
}

.delete-task:hover {
  filter: brightness(1.5);
}

.delete-task {
  cursor: pointer;
  width: 1.6em;
  border: none;
}

@media (max-width: 400px) {
  header {
    font-size: 1.2rem;
    padding: 0.4em;
  }

  #task-input {
    width: 100%;
  }

  #submit-btn {
    font-size: 1rem;
  }
}